body{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1,auto);

    grid-template-areas: "canva  formulario"; 
}
#canvas-container {
    margin: 20px 0px 0px 20px;
    background-color: #ccc;
    width: 600px;
    height: 800px;
    grid-area: canva;
    
}
#canvas-container canvas{
    border: 1px solid black;
}
.formulario{
    margin: 50px 100px 10px 300px;
    grid-area: formulario;
    font-size: 25px;
}
.formulario input{
    height: 30px;
    width: 200px;
    font-size: 20px;
    margin: 5px 0px 5px 0px;
    border: 1px solid black;
    border-radius: 10px;
}
.formulario button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}


/* --------------------------------------------------------- */

article{
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}
article.lineax1 {
    top: -25px;
}
article.lineax2 {
    top: -41px;
}
article.lineax3 {
    top: -57px;
}
article.lineax4 {
    top: -73px;
}
article.lineax5 {
    top: -89px;
}
article.lineax6 {
    top: -105px;
}
article.lineax7 {
    top: -121px;
}
article.lineax8 {
    top: -137px;
}
article.lineax9 {
    top: -153px;
}
article.lineax10 {
    top: -169px;
}
article.lineax11 {
    top: -185px;
}
article.lineax12 {
    top: -201px;
}
article.lineax13 {
    top: -217px;
}
article.lineax14 {
    top: -233px;
}
article.lineax15 {
    top: -249px;
}
article.lineax16 {
    top: -265px;
}
article.lineax17 {
    top: -281px;
}
article.lineax18 {
    top: -297px;
}
article.lineax19 {
    top: -313px;
}
article.lineax20 {
    top: -329px;
}

article.lineax21 {
    top: -345px;
}
article.lineax22 {
    top: -361px;
}
article.lineax23 {
    top: -383px;
}
article.lineax24 {
    top: -393px;
}
article.lineax25 {
    top: -409px;
}
article.lineax26 {
    top: -425px;
}
article.lineax27 {
    top: -441px;
}
article.lineax28 {
    top: -457px;
}
article.lineax29 {
    top: -473px;
}
article.lineax30 {
    top: -489px;
}
article.lineax31 {
    top: -505px;
}
article.lineax32 {
    top: -521px;
}
article.lineax33 {
    top: -537px;
}
article.lineax34 {
    top: -553px;
}
article.lineax35 {
    top: -569px;
}
article.lineax36 {
    top: -585px;
}
article.lineax37 {
    top: -601px;
}
article.lineax38 {
    top: -617px;
}
article.lineax39 {
    top: -633px;
}

/* ------------------------ */






.lineay1{
    transform: rotate(90deg);
    left: -235px;
    top: -288px;
}
.lineay2{
    
    transform: rotate(90deg);
    left: -220px;
    top: -289px;
}
.lineay3{
    transform: rotate(90deg);
    left: -205px;
    top: -290px;
}
.lineay4{
    
    transform: rotate(90deg);
    left: -190px;
    top: -291px;
}
.lineay5{
    transform: rotate(90deg);
    left: -175px;
    top: -292px;
}
.lineay6{
    transform: rotate(90deg);
    left: -160px;
    top: -293px;
}
.lineay7{
    transform: rotate(90deg);
    left: -145px;
    top: -294px;
}
.lineay8{
    transform: rotate(90deg);
    left: -130px;
    top: -295px;
}
.lineay9{
    transform: rotate(90deg);
    left: -115px;
    top: -296px;
}
.lineay10{
    transform: rotate(90deg);
    left: -100px;
    top: -297px;
}

.lineay11{
    transform: rotate(90deg);
    left: -85px;
    top: -298px;
}
.lineay12{
    transform: rotate(90deg);
    left: -70px;
    top: -299px;
}
.lineay13{
    transform: rotate(90deg);
    left: -55px;
    top: -300px;
}
.lineay14{
    transform: rotate(90deg);
    left: -40px;
    top: -301px;
}
.lineay15{
    transform: rotate(90deg);
    left: -25px;
    top: -302px;
}
.lineay16{
    transform: rotate(90deg);
    left: -10px;
    top: -303px;
}
.lineay17{
    transform: rotate(90deg);
    left: 5px;
    top: -304px;
}
.lineay18{
    transform: rotate(90deg);
    left: 20px;
    top: -305px;
}
.lineay19{
    transform: rotate(90deg);
    left: 35px;
    top: -306px;
}
.lineay20{
    transform: rotate(90deg);
    left: 50px;
    top: -307px;
}
.lineay21{
    transform: rotate(90deg);
    left: 65px;
    top: -308px;
}
.lineay22{
    transform: rotate(90deg);
    left: 80px;
    top: -309px;
}
.lineay23{
    transform: rotate(90deg);
    left: 95px;
    top: -310px;
}
.lineay24{
    transform: rotate(90deg);
    left: 110px;
    top: -311px;
}
.lineay25{
    transform: rotate(90deg);
    left: 125px;
    top: -312px;
}
.lineay26{
    transform: rotate(90deg);
    left: 140px;
    top: -313px;
}
.lineay27{
    transform: rotate(90deg);
    left: 155px;
    top: -314px;
}
.lineay28{
    transform: rotate(90deg);
    left: 170px;
    top: -315px;
}
.lineay29{
    transform: rotate(90deg);
    left: 185px;
    top: -316px;
}
.lineay30{
    transform: rotate(90deg);
    left: 200px;
    top: -317px;
}
.lineay31{
    transform: rotate(90deg);
    left: 215px;
    top: -318px;
}

.lineay32{
    transform: rotate(90deg);
    left: 230px;
    top: -319px;
}
.lineay33{
    transform: rotate(90deg);
    left: 245px;
    top: -320px;
}
